*{
  padding: 0;
  margin: 0;
}
/* nav section */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px;
}
nav button{
  background-color: black;
  color: white;
  padding: 5px;
  position: sticky;
  top: 0;
}
nav a{
  text-decoration: none;
  color: grey;
}

/* page1 */
.container{
  display: flex;
  
}
.image1{
  align-items: flex-end;
  
}
.image2{
  font-family: Lato;
font-weight: 400;
font-size: 24px;
line-height: 28.8px;
letter-spacing: 0%;

}

/* div{
  display: flex;
  flex-wrap: wrap;
  width: 743;
  height: 350;
  position: relative;
  top: 214px;
  left: 144px;

} */
#page1-text {
  font-family: Italiana;
  font-weight: 400;
  font-size: 150px;
  line-height: 175.5px;
  letter-spacing: 0%;
}


/* page2 */
.container2{
  margin: 20px 0px;
  color: white;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0px;
  
}
.item-container2{
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
  
}

/* page3 */
.container3{
  display: flex;
  flex-wrap: wrap;
}
.item-container3{
  margin: 10px;
}

/* PAGE4 */
.container4{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  align-items: center;
}
.item-container4{
  padding-top: 10px;

}
/* page5 */

.container5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 100px 0px;

}


/* footer */
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
 }
 .footer-item{
  margin: 5px;
  padding: 5px;
 }
 .footer-item a{
  text-decoration: none;
  color: grey;
 }